In [1]:
import numpy as np
import pandas as pd
import sklearn 
import os

In [2]:
# load the dataset 

col_names = ["sepal length cm", "sepal width cm", "petal length cm", "petal width cm", "class"]

df = pd.read_csv('/home/zhan/Downloads/iris/bezdekIris.data', header=None, names=col_names)
df.head()

,sepal length cm,sepal width cm,petal length cm,petal width cm,class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

In [ ]:
"""
Strategy:
1. one hot encode the class names 
2. check for null values, invalid values for sepal and petal length and width 
3. train test split
4. impute missing values if any 
5. check for outliers and impute them. 
"""

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sepal length cm  150 non-null    float64
 1   sepal width cm   150 non-null    float64
 2   petal length cm  150 non-null    float64
 3   petal width cm   150 non-null    float64
 4   class            150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [14]:
df.isnull().sum()

sepal length cm    0
sepal width cm     0
petal length cm    0
petal width cm     0
class              0
dtype: int64

In [ ]:
# light !!!!!!